.yellow-bg {
    background: yellow;
    
}

.alert-box {
    background: #aba8f4;
    color: blue;
    padding: 20px;
    border-radius: 5px;
    display: none;
}

.main-background {
    background-image: url(image/original.jpeg);
    background-size: cover;
}

.black-background {
    background: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 5;
    height: 100%;
}