.body {
  width: 100%;
  height: 100%;
}

.profile-background {
  width: 1800px;
  height: 250px;
  background-color: #c8daf1;
  position: absolute;
  z-index: -1;
}

.profile-photo {
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 200px;
  top: 130px;
  left: 80px;
  border: 7px solid #787878;
  z-index: 3;
}

.profile-color {
  background-color: #0fc856;
  width: 50px;
  height: 50px;
  border-radius: 40px;
  position: relative;
  top: 280px;
  left: 220px;
  border: 5px solid #787878;
  z-index: 4;
}

.profile-background2 {
  background-color: #787878;
  position: relative;
  top: 190px;
  width: 1800px;
  height: 1200px;
  z-index: -1;
}

.profile-nickname {
  display: flex;
  background-color: #787878;
  font-weight: 700;
  color: white;
  font-size: 30px;
  z-index: 1;
  width: 80px;
  height: 20px;
  top: 280px;
  left: 300px;
  position: absolute;
}

.profile-edit {
  background-color: #2881dd;
  border-style: none;
  color: white;
  z-index: 4;
  width: 150px;
  height: 50px;
  left: 1240px;
  bottom: 980px;
  font-size: 16px;
  border-radius: 10px;
  position: relative;
}

.profile-edit:hover {
  cursor: pointer;
}

.profile-setting {
  top: 500px;
}

.profile-setting {
  width: 200px;
  height: 250px;
  position: relative;
  margin-left: 90px;
}
.profile-menu {
  background-color: #787878;
  color: white;
  z-index: 2;
  width: 200px;
  height: 250px;
}

.profile-menu li {
  margin-top: 20px;
}
