:root{
    --white-color:#fff;
    --black-color:#140a00;
    --blue-color:#045fd4;
    --red-color:#ff0000;
    --gray-dark-color:#909090;
    --gray-light-color:#e0e0e0;

    --size-padding: 12px;
    --avatar-size: 36px;

    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style: none;
    
}

button,
button:focus {
    border: none;
    cursor: pointer;
    outline: none;
    background-color: var(--white-color);
}

button {
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

body > .info {
    padding: var(--size-padding);
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--black-color);
    padding: var(--size-padding);
}
.logo {
    font-size: 24px;
    color: var(--white-color);
}

.logo i {
    color:var(--red-color);
}

.icons {
    color: var(--white-color);
    margin-right: var(--size-padding);
}

.player {
    text-align: center;
    background-color: var(--black-color);
}

.video {
    width: 50%;
    height: 50%;
    max-width: 300px;
}

.info {
    padding: var(--size-padding);
}

.info .metadata .hashtags {
    font-size: var(--font-small);
    color: var(--blue-color);
    display: flex;
    padding-bottom: 6px;
}

.info .metadata .hashtags li {
    padding-right: var(--size-padding);
}

.info .metadata .titleAndButton{
    display: flex;
    font-size: var(--font-large);
    padding:var(--size-padding);
}

.info .metadata .titleAndButton .title {
    font-size: var(--font-medium);
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.info .views {
    color: var(--gray-dark-color);
    font-size: var(--font-small);
}

.actions {
    display: flex;
    justify-content: space-around;
    margin:var(--size-padding) 0;
}

.actions button {
    display: flex;
    flex-direction: column;
    font-size:var(--font-small);
    color: var(--gray-dark-color);
}

.actions button i {
    margin: 0 auto;
    margin-bottom: calc(var(--size-padding) /2 );
    font-size:16px;
}

.actions button i.active {
    color:var(--blue-color);
}

.channel {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--gray-dark-color);
    border-bottom: 1px solid var(--gray-light-color);
}

.channel .metadata {
    display: flex;
    align-items: center;
}

.channel .metadata img {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
}

.channel .metadata .info {
    display: flex;
    flex-direction: column;
}

.channel .metadata .info .name {
    font-size: var(--font-medium);
}

.channel .metadata .info .subscribers {
    font-size: var(--font-small);
    color: var(--gray-dark-color);
}

.channel .subscribe {
    text-transform: uppercase;
    color: var(--red-color);
    font-size: var(--font-medium);
}

.UpNext {
    padding: 0 var(--size-padding);
}

.UpNext > .title {
    font-size: var(--font-medium);
    color: var(--gray-dark-color);
    margin-bottom: calc(var(--size-padding) /2);
}

.UpNext .item {
    display: flex;
}

.UpNext .item img {
    flex: 1 1 35%;
}

.UpNext .item .info {
    flex: 1 1 60%;
}

.UpNEx .item .MoreBtn {
    flex: 1 1 5%;
}

.UpNext .item .info {
    display: flex;
    flex-direction: column;
}

.UpNext .item .info .title {
    font-size: var(--font-small);
}

.UpNext .item .info .name,
.UpNext .item .info .views {
    font-size: var(--font-micro);
    color: var(--gray-dark-color);
}