:root {
    --white-color:#E2E2E2;
    --black-color:#140A00;
    --blue-color:#1B56C9;
    --red-color:#E70001;
    --gray-dark-color:#909090;
    --gray-light-color:#e0e0e0;

    --padding: 12px;
    --avatar-size: 36px;

    --font-large:18px;
    --font-medium:14px;
    --font-small:12px;
    --font-micro:10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

button,
button:focus {
    border: none;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    padding:var(--padding);
    background-color: var(--black-color);
    color: var(--white-color);
}

header .logo {
    font-size: var(--font-large);
}

header .logo i {
    color: var(--red-color);
}

header .icons i {
    margin-right: var(--padding);
}

.player {
    position: sticky;
    top: 0;
    text-align: center;
    background-color: var(--black-color);
}

.player video {
    width: 100%;
    height: 100%;
    max-width: 1000px;
}

.videoinfo {
    padding: var(--padding);
}

.videoinfo .hashtag {
    display: flex;
    font-size: var(--font-small);
    color: var(--blue-color);
}

.videoinfo .hashtag li {
    padding-right: var(--padding);
}

.titleandButton {
    display: flex;
}

.titleandButton .title .clamp{
    font-size: var(--font-medium);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow:hidden;
    margin-right: var(--padding);
    margin-bottom: var(--padding);
}

.actions {
    display: flex;
    justify-content: space-around;
    margin: var(--padding) 0;
}

.actions button {
    display: flex;
    flex-direction: column;
    font-size: var(--font-small);
}

.views {
    font-size: var(--font-small);
    color: var(--gray-light-color);
}

.actions button i {
    margin: 0 auto;
    margin: calc(var(--padding) / 2);
    font-size: 16px;
    color: var(--gray-dark-color);
}

.actions button i.active {
    color:var(--blue-color);
}

.channel {
    display: flex;
}

.channel .metadata {
    display: flex;
}

.channel img {
    width: var(--avatar-size);
    height: var(--avatar-size);
}

.channel .name {
    font-size: var(--font-medium);
}

.channel .subscribers {
    font-size: var(--font-small);
    color:var(--gray-dark-color);
}

.channel .subscribe {
    text-transform: uppercase;
    color: var(--red-color);
}